<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
    </div>
</head>
<body>

    <div th:fragment="header">
        <header>
            <nav>

            </nav>
        </header>
    </div>

</body>
</html>