* {
	padding:0;
    margin:0;
}
body {
	color:#14171A;
	font-family: 'Segoe UI', sans-serif;
	font-weight: 400;
	width:100%;
	height:100%;
}
a {
    color: #14171A;
	text-decoration:none;
	outline:none;
}
img {
	max-width:100%;
}
.wrapper{
    margin: 0 auto;
    max-width: 1600px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: rgb(61, 103, 194);
}
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgb(61, 103, 194);
    -webkit-box-shadow: 0 1px 0 0 rgb(61, 103, 194);
    box-shadow: 0 1px 0 0 rgb(61, 103, 194);
}
/* ---------------- */
/* ---------------- */
.edit{
    margin-top: 5px;
    width: 40%;
    height: 100vh;
    margin-left: 210px;
    border-left: 1px solid #E6ECF0;
    border-right: 1px solid #E6ECF0;
}
.title{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #E6ECF0;
    font-size: 19px;
    font-weight: bold;
}
.title p{
    margin-left: 15px;
    margin-right: 25px;
}
.inputs{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.input-block{
    margin: 10px 25px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
    box-sizing: border-box;
    width: 90%;
    padding-left: 5px;
}
.input-block label{
    font-size: 13px;
    margin-bottom: 5px;
}
.input{
    border: none;
    box-sizing: border-box;
    width: 90%;
    display: block;
    background: transparent;
    font-size: 18px;
    color: #666666;
    line-height: 1.2;
    outline-style: none;
}
.example-1{
    margin-left: 10px;
}
.example-1 .form-group{
    padding:5px;
    margin:5px;
}
.example-1 input[type=file]{
    outline:0;
    opacity:0;
    pointer-events:none;
    user-select:none;
}
.example-1 .label{
    width:120px;
    border:2px dashed grey;
    border-radius:5px;
    display:block;
    padding:10px;
    transition:border 300ms ease;
    cursor:pointer;
    text-align:center
}
.example-1 .label i{
    display:block;
    font-size:32px;
    padding-bottom:16px;
}
.example-1 .label i,.example-1 .label .title{
    color:grey;
    transition:200ms color;
}
.example-1 .label:hover{
    border:2px solid #000;
}
.example-1 .label:hover i,.example-1 .label:hover .title{
    color:#000;
}
.saveBtn{
    background: white;
    border: 1px solid #F2901D;
    color: #F2901D;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    padding: 10px 15px;
    border-radius: 25px;
    transition: background .3s linear;
}
.saveBtn:hover{
    background: #f28f1d34;
}
.githubBtn{
    margin:10px 25px;
}
@media (max-width:1250px){
    .edit{
        margin-left: 50px;
        width: 50%;
    }
}
@media (max-width:1000px){
    .edit{
        width: 80%;
    }
}