input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: rgb(61, 103, 194);
}
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgb(61, 103, 194);
    -webkit-box-shadow: 0 1px 0 0 rgb(61, 103, 194);
    box-shadow: 0 1px 0 0 rgb(61, 103, 194);
}
.newPost{
    background: #ffffff;
    margin-bottom: 16px;
    border-top: 1px solid #E6ECF0;
    border-bottom: 1px solid #E6ECF0;
    padding: 10px 15px;
}
.create-post-body{
    display: flex;
    margin-bottom: 15px;
}
.postImgs{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: left;
    width: 100%;
    margin-left: 60px;
}
.postImg{
    height: 150px;
    box-shadow: 1px 1px 5px #6e7f8d70;
    border-radius: 25px;
    margin: 0 10px;
}
.create-post-input{
    box-shadow: 1px 1px 5px #6e7f8d70 !important;
    border-radius: 25px !important;
    margin-left: 15px !important;
    font-size: 19px !important;
    width: 100% !important;
    padding: 10px 15px !important;
}
.create-post-footer{
    padding-left: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.create-post-footer img{
    width: 25px;
    height: 25px;
}
.create-post-footer img:hover{
    transform: scale(1.1);
    background: #f28f1d46;
    box-shadow: 1px 1px 15px 10px #f28f1d3b;
    border-radius: 25px;
}
.newPostBtn{
    background: white;
    border: 1px solid #F2901D;
    color: #F2901D;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    padding: 10px 15px;
    border-radius: 25px;
    margin-top: 25px;
    transition: background .3s linear;
}
.newPostBtn:hover{
    cursor: pointer;
    background: #f28f1d34;
}