* {
	padding:0;
    margin:0;
}
body {
	color:#14171A;
	font-family: 'Segoe UI', sans-serif;
	font-weight: 400;
	width:100%;
	height:100%;
}
a {
    color: #14171A;
	text-decoration:none;
	outline:none;
}
img {
	max-width:100%;
}
.wrapper{
    margin: 0 auto;
    max-width: 1600px;
    /*width: 90%;*/
    display: flex;
    justify-content: center;
    flex-direction: row;
}
/* ---------------- */
/* ---------------- */
.main{
    margin-top: 5px;
    width: 50%;
    margin-left: 210px;
    border-left: 1px solid #E6ECF0;
    border-right: 1px solid #E6ECF0;
}
.title{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.name-tweets{
    margin-left: 35px;
}
.title .username{
    font-size: 19px;
    font-weight: bold;
}
.title img{
    margin-left: 15px;
}
.profile{
    font-size: 15px;
}
.background{
    position: relative;
    width: 100%;
    height: 200px;
    background: url(../img/avatars/cover.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 65px;
}
.avatar{
    position: absolute;
    bottom: -25%;
    left: 15px;
    border-radius: 50%;
    border: 5px solid white;
    width: 130px;
    height: 130px;
}
.explore_search{
    background: #e6ecf0;
    color: #1a2328;
    border: none;
    outline: none;
    border-radius: 25px 25px 0 0;
    padding: 5px 15px 10px;
    font-size: 15px;
    width: 100%;
}
.editBtn{
    position: absolute;
    bottom: -25%;
    right: 5%;
    background: white;
    border: 1px solid #F2901D;
    color: #F2901D;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    padding: 10px 15px;
    border-radius: 25px;
    margin-top: 25px;
    transition: background .3s linear;
}
.editBtn:hover{
    background: #f28f1d34;
}
.profile .username{
    margin-left: 15px;
    font-size: 19px;
    font-weight: bold;
}
.fio{
    font-size: 18px;
    margin-left: 15px;
    font-style: italic;
    color: #F2901D;
}
.description{
    font-size: 15px;
    margin-top: 12px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.birthday{
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 15px;
}
.birthday img{
    margin-right: 10px;
}
.friends{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.followers{
    margin-left: 15px;
}
.followNumb{
    font-weight: bold;
}
.tweetTitle{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 10px;
    padding: 15px 0;
    color: #F2901D;
    border-top: 1px solid #E6ECF0;
    border-bottom: 1px solid #E6ECF0;
}
.post{
    padding: 10px 15px;
    border-top: 1px solid #E6ECF0;
    border-bottom: 1px solid #E6ECF0;
    transition: all .3s linear;
}
.comments{
    margin-top: 10px;
    transition: height .3s linear;
}
.create-post-body{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.comment{
    padding: 10px 0px;
    border-top: 1px solid #E6ECF0;
    border-bottom: 1px solid #E6ECF0;
    transition: all .3s linear;
}
.newComment{
    margin-top: 10px;
    border-top: 1px solid #E6ECF0;
    border-bottom: 1px solid #E6ECF0;
    padding: 10px 15px;
}
.commentBtn{
    background: #F2901D;
    margin-left: 10px;
    margin-top: 5px;
    padding-top: 5px;
}
.commentAvatar{
    width: 45px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}
.post:hover{
    background: #ebf0f3;
}
.post-header{
    display: flex;
}
.nameTime .user-name{
    font-weight: bold;
    font-size: 16px;
}
.time{
    font-size: 13px;
    color: #6E7F8D;
    margin-left: 10px;
}
.content{
    display: flex;
    flex-direction: column;
}
.user-avatar{
    width: 50px;
    height: 50px;
    margin-left: 15px;
    border-radius: 50%;
}
.content{
    margin-left: 10px;
}
.post-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.post-content{
    margin-top: 10px;
    margin-left: 70px;
    margin-bottom: 5px; 
}
.post-content img{
    border-radius: 25px;
}
.footerItem{
    display: flex;
    align-items: center;
    transition: all .3s linear;
}

.deleteArrow{
    display: flex;
    align-items: center;
    transition: all .3s linear;
}

.footerItem:hover{
    transform: scale(1.1);
    background: #f28f1d71;
    box-shadow: 1px 1px 15px 10px #f28f1d71;
    border-radius: 25px;
}
.footerNum{
    font-size: 13px;
    margin-left: 10px;
    color: #6E7F8D;
}
.github{
    margin-left: 5px;
    padding: 15px 0;
    color: #0a214c;
    font-size: 18px;
}
.gitBlock{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.gitBlock img{
    height: 32px;
}
.close{
    display: none;
}
.exploreSearchResults{
    list-style-type: none;
    margin-top: 10px;
    border-top: 1px solid #E6ECF0;
    border-bottom: 1px solid #E6ECF0;
    padding: 10px 15px;
}
.exploreSearchResults li{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-top: 1px solid #E6ECF0;
    border-bottom: 1px solid #E6ECF0;
}
.exploreSearchResults li:hover{
    background: rgb(79, 122, 216);
}
.exploreSearchResults li a{
    display: flex;
    align-items: center;
}
.exploreSearchResults li img{
    border: 2px solid #1a2328;
    color: #1a2328;
}
.exploreSearchResults li span{
    margin-left: 5px;
    color: #1a2328;
}
.deletePost {
    background: white;
    border: 1px solid #F2901D;
    color: #F2901D;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    padding: 10px 15px;
    border-radius: 25px;
    transition: background .3s linear;
}
@media (max-width:825px){
    .main{
        width: 60%;
    }
}
@media (max-width:550px){
    .main{
        margin-left: 50px;
        width: 80%;
    }
}