<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/left-right.css}">
    <link rel="stylesheet" th:href="@{/css/github.css}">
    <title>ProgersLife | Connect Github</title>
</head>
<body>
    <div class="wrapper">
        <div th:replace="fragments/leftmenu :: leftmenu"></div>
        <div class="main">
            <form th:action="@{/profile/connectGithub}" th:object="${githubForm}" content="" method="post" class="form">
                <div class="bg">
                    <img src="/img/Group 1.png" alt="" class="gitLogo">
                    <p class="bTitle">Connect to GitHub</p>
                    <div class="inputs">
                        <div class="input-block">
                            <label>Enter your GitHub Login</label>
                            <input th:field="*{githubLogin}" class="input" type="text">
                        </div>
                        <p th:if="${#fields.hasErrors('githubLogin')}" th:errors="*{githubLogin}">Name Error</p>
                        <input type="hidden" th:field="*{username}" />

                        <input type="submit" class="btn waves-effect waves-light blue darken-4 saveBtn" value="Connect"/>
                    </div>
                </div>

            </form>
        </div>
        <div th:replace="fragments/rightmenu :: rightmenu"></div>
    </div>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" th:src="@{/scripts/script.js}"></script>
</body>
</html>