<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/edit.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/left-right.css}">
    <title>ProgersLife | Edit Profile</title>
</head>
<body>
    <div class="wrapper">
        <div th:replace="fragments/leftmenu :: leftmenu"></div>
        <div class="edit">
            <form th:action="@{/profile/edit}" th:object="${userProfile}" method="post" enctype="multipart/form-data" class="form">
                <div class="title">
                    <a th:href="@{/profile}" class="backBtn"><img src="/img/menu/arrowback.png" alt=""></a>
                    <p>Edit Profile</p>
                    <input type="submit" class="saveBtn" value="Save"/>
                </div>
                <div class="inputs">
                    <input name="image" type="file" th:value="${userProfile.profilePicture}" class="input" accept="image/png, image/jpeg">
                    <label for="name">Name</label>
                    <input th:field="*{name}" class="input" type="text" th:value="${userProfile.name}">
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
                    <label for="surname">Surname</label>
                    <input th:field="*{surname}" class="input" type="text" th:value="${userProfile.surname}">
                    <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Name Error</p>
                    <label for="description">Description</label>
                    <input th:field="*{description}" class="input" type="text" th:value="${userProfile.description}">
                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</p>
                    <label for="birthDate">Birth Date</label>
                    <input th:field="*{birthDate}" class="input" type="datetime" th:value="${#calendars.format(userProfile.birthDate,'dd-MM-yyyy')}">
                    <input name="id" type="hidden" th:value="${userProfile.id}" />
                    <input name="profilePicture" type="hidden" th:value="${userProfile.profilePicture}" />
                </div>
            </form>
        </div>
        <div th:replace="fragments/rightmenu :: rightmenu"></div>
    </div>
</body>
</html>