<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" th:href="@{/css/edit.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/left-right.css}">
    <title>ProgersLife | Edit Profile</title>
</head>
<body>
    <div class="wrapper">
        <div th:replace="fragments/leftmenu :: leftmenu"></div>
        <div class="main">
            <form th:action="@{/profile/edit}" th:object="${userProfile}" method="post" enctype="multipart/form-data" class="form">
                <div class="title">
                    <a th:href="@{/home}" class="backBtn"><img src="/img/menu/arrowback.png" alt=""></a>
                    <p>Edit Profile</p>
                    <input type="submit" class="saveBtn" value="Save"/>
                </div>
                <div class="inputs">
                    <div class="example-1" data-img="">
                        <div class="form-group">
                            <label class="label">
                                <i class="material-icons">attach_file</i>
                                <span class="title-input">Выберите автарку</span>
                                <input name="image" type="file" th:value="${userProfile.profilePicture}" accept="image/png, image/jpeg">
                            </label>
                        </div>
                    </div>
                    <div class="input-block">
                        <label>Name</label>
                        <input th:field="*{name}" class="input" type="text" th:value="${userProfile.name}">
                    </div>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
                    <div class="input-block">
                        <label>Surname</label>
                        <input th:field="*{surname}" class="input" type="text" th:value="${userProfile.surname}">
                    </div>
                    <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Name Error</p>
                    <div class="input-block">
                        <label>Description</label>
                        <input th:field="*{description}" class="input" type="text" th:value="${userProfile.description}">
                    </div>
                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</p>
                    <div class="input-block">
                        <label>Birth Date</label>
                        <input th:field="*{birthDate}" class="input" type="datetime" th:value="${#calendars.format(userProfile.birthDate,'yyyy-MM-dd')}">
                    </div>
                    <input name="id" type="hidden" th:value="${userProfile.id}" />
                    <input name="profilePicture" type="hidden" th:value="${userProfile.profilePicture}" />
                </div>
            </form>
            <a th:href="@{/profile/connectGithub}" class="btn waves-effect waves-light blue darken-4 githubBtn">Connect to GitHub
                <i class="material-icons right">send</i>
            </a>
        </div>
        <div th:replace="fragments/rightmenu :: rightmenu"></div>
    </div>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" th:src="@{/scripts/script.js}"></script>
</body>
</html>