<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/left-right.css}">
    <link rel="stylesheet" th:href="@{/css/github.css}">
    <title>ProgersLife | Profile</title>
</head>
<body>
    <div class="wrapper">
        <div th:replace="fragments/leftmenu :: leftmenu"></div>
        <div class="main">
            <div class="title">
                <a th:href="@{/home}" class="backBtn"><img src="/img/menu/arrowback.png" alt=""></a>
                <div class="name-tweets">
                    <div class="username" th:text="${user.username}"></div>
                    <div class="tweetCol">GitHub</div>
                </div>
            </div>
            <div class="gitProfile">
                <img src="" id="gitAvatar">
                <div class="gitExtend">
                    <div id="gitUsername"></div>
                    <div class="gitInfo">
                        <div id="gitDesc"></div>
                        <div class="gitFol">
                            <div id="gitFollowers"></div>
                            <div id="gitFollowing"></div>
                        </div>
                        <div id="gitLocation"></div>
                    </div>
                </div>
            </div>
            <ul id="gitRepos">

            </ul>
        </div>
        <div th:replace="fragments/rightmenu :: rightmenu"></div>
    </div>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" th:src="@{/scripts/script.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/github.js}"></script>
</body>
</html>