<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>ProgersLife | Sign in</title>
</head>
<body>
    <div class="limiter">
        <div class="wrapper">
            <div class="login">
                <div class="picture"></div>
                <div class="right">
                    <div class="forms">
                        <div class="title">ACCOUNT LOGIN</div>
                        <form class="form" th:action="@{/login}" method="POST">
                            <div class="inputs">
                                <div class="input-block">
                                    <label>login</label>
                                    <input name="username" class="input" type="text" required>
                                </div>
                                <div class="input-block">
                                    <label>Password</label>
                                    <input name="password" class="input" type="password" required>                                </div>
                            </div>
                            <button class="loginBtn" type="submit">Sign in</button>
                            <label>
                                <input type="checkbox" checked="checked" name="remember"> Remember me
                            </label>
                            <div class="fogot">
                                <span class="text">Forgot </span>
                                <a href="#" class="textBlue"> User name / password?</a>
                            </div>
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                        </form>
                        <form th:action="@{/registration}" method="get">
                            <input type="submit" value="Sing Up" class="registerBtn">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



