<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>ProgersLife</title>
</head>
<body>
    <div class="limiter">
        <div class="wrapper">
            <div class="login">
                <div class="picture"></div>
                <div class="right">
                    <div class="forms">
                        <div class="title">ACCOUNT LOGIN</div>
                        <form class="form" action="/login" method="POST">
                            <div class="inputs">
                                <input class="input" type="text" name="username" placeholder="User name" required>
                                <input class="input" type="password" name="pass" placeholder="Password" required>
                            </div>
                            <button class="loginBtn" type="submit">Sign in</button>
                            <label>
                                <input type="checkbox" checked="checked" name="remember"> Remember me
                            </label>
                            <div class="fogot">
                                <span class="text">Forgot </span>
                                <a href="#" class="textBlue"> User name / password?</a>
                            </div>
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                            <form th:action="@{/registration}" method="get">
                                <input type="submit" value="Sing Up" class="registerBtn">
                            </form>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



