<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/left-right.css}">
    <title>ProgersLife | Profile Name</title>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/leftmenu :: leftmenu"></div>
    <div class="main">
        <div class="title">
            <a href="" class="backBtn"><img src="/img/menu/arrowback.png" alt=""></a>
            <div class="name-tweets">
                <div class="username" th:text="${user.username}"></div>
                <div class="tweetCol">2 Tweets</div>
            </div>
        </div>
        <div class="profile">
            <div class="background">
                <img th:src="${user.userProfile.profilePicture}" alt="" class="avatar">
                <div th:if="${isFollowing}">
                    <button class="editBtn">FOLLOWING</button>
                </div>
                <div th:unless="${isFollowing}">
                    <form th:action="@{/follow}" method="post">
                        <input name="username" type="hidden" th:value="${user.username}" />
                        <button class="editBtn" type="submit">FOLLOW</button>
                    </form>
                </div>

            </div>
            <p>
                <span class="username" th:text="${user.username}"></span>
                <span class="fio" th:text="${user.userProfile.name}+' '+ ${user.userProfile.surname}"></span>
            </p>
            <div class="description" th:text="${user.userProfile.description}"></div>
            <div class="birthday">
                <img src="/img/menu/calendar.png" alt="">
                <p th:text="${#calendars.format(user.userProfile.birthDate,'dd MMMM yyyy')}"></p>
            </div>
            <div class="friends">
                <div class="following">
                    <a th:href="@{/profile/{username}/following}" class="followNumb">20</a> Following
                </div>
                <div class="followers">
                    <a th:href="@{/profile/{username}/followers}" class="followNumb">29</a> Followers
                </div>
            </div>
        </div>
        <div class="posts">
            <div class="tweetTitle">Posts</div>
            <th:block th:each="post : ${user.posts}">
                <div class="post">
                    <a href="/profile.html" class="post-header">
                        <img th:src="${user.userProfile.profilePicture}" alt="" class="user-avatar">
                        <div class="content">
                            <div class="nameTime">
                                <span class="user-name" th:text="${post.user.username}"></span>
                                <span class="time" th:text="${#calendars.format(post.creationDate,'dd MMMM yyyy')}">3hrs</span>
                            </div>
                            <div class="contentText" th:text="${post.text}">
                            </div>
                        </div>
                    </a>
                    <div class="post-content">
                        <img src="/img/avatars/photo.png" alt="" class="post-img">
                    </div>
                    <div class="post-footer">
                        <div class="footerItem">
                            <img src="/img/tweet/comment.png" alt="">
                            <div class="footerNum">2</div>
                        </div>
                        <div class="footerItem">
                            <img src="/img/tweet/retweet.png" alt="">
                            <div class="footerNum">2</div>
                        </div>
                        <div class="footerItem">
                            <img src="/img/tweet/like.png" alt="">
                            <div class="footerNum">21</div>
                        </div>
                        <div class="footerItem">
                            <img src="/img/tweet/share.png" alt="">
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
    <div th:replace="fragments/rightmenu :: rightmenu"></div>
</div>
</body>
</html>